
@model List<Category>
@{
    int count = 0;
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Categories</h4>
                <a asp-action="create" class="btn btn-success"><i class="mdi mdi-pencil">Create</i></a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Products Count
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Setting
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(Category category in Model)
                            {
                                count++;
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @category.Name
                                    </td>
                                    <td>
                                        @category.Products
                                    </td>
                                    <td>
                                        @category.CreateAt
                                    </td>
                                    <td>
                                        <a asp-action="update" asp-route-id="@category.Id" class="btn btn-warning"><i class="mdi mdi-pencil">Update</i></a>
                                        <a asp-action="delete" asp-route-id="@category.Id" class="btn btn-danger"><i class="mdi mdi-delete">Delete</i></a>
                                        <a asp-action="detail" asp-route-id="@category.Id" class="btn btn-primary"> <i class="mdi mdi-open-in-new">Detail</i></a>
                                    </td>

                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>